.navbar {
  display: flex;
  justify-content: center;
  background-color:rgb(44, 44, 44);
  padding: 0px;
  list-style: none;
}

.nav-btn {
  padding: 20px 30px;
  color: white;
  user-select: none;
}

.nav-btn:hover {
  background-color: tomato;
  cursor: pointer;
}

.nav-btn:active {
  background-color: gold;
  color: black;
}

body {
  background-color:rgb(26, 26, 26);
}

main {
  display: flex;
  justify-content: center;
}

section {
  text-align: center;
  color: white;
  max-width: 1000px;
  width: max-content;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(44, 44, 44);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  justify-content: center;
}

h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

img {
  padding: 10px;
  border-radius: 20px;
  max-width: 450px;
  flex-grow: 1;
}

p {
  padding: 10px;
  text-align: justify;
  max-width: 450px;
  padding-left: 20px;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  justify-content: center;
}

.project-box > img {
  size: 20px;
}